<h1>
  Post your recipe below
</h1>

<p>
  Go to <a href="https://www.allrecipes.com/">AllRecipes.com</a>,
  copy the URL, and post it below:
</p>

<form action="/recipes" method="post">
  <label>
    Recipe URL:
    <input type="text" placeholder="AllRecipes URL" />
  </label>

  <input type="submit" value="Post" />
</form>
